<nav class="navbar navbar-dark header mx-auto col-md-4 col-sm-12">
  <a href="map">
    <div class=" ms-3 col-2">
      <img src="https://cdn-icons-png.flaticon.com/128/2879/2879564.png" width="40" alt="back" />
    </div>
  </a>
  <div class="container-fluid col-8">
    <a class="navbar-brand mx-auto" href="#">
      <strong>Captura de información</strong>
    </a>
  </div>
  <div class="col-2">
    <img src="https://cdn-icons-png.flaticon.com/512/814/814476.png" width="40" alt="Logo" />
  </div>
</nav>
