<div class="map-container">
  <div #mapDiv id="map"></div>
</div>
<div>
  <button class="btn btn-light locationbtn" (click)="goToMyLocation()">
    <img class="location" width="20" alt="Location" src="https://cdn-icons-png.flaticon.com/512/565/565949.png">
  </button>
  <a class="btn btn-light downloadbtn" href="download" target="_blank">
    <img class="download" width="40" alt="download" src="/assets/descarga.png">
  </a>
</div>

<app-loading *ngIf="load" message="Cargando información."></app-loading>
